/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

body {
    margin: 0px;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-color: #f0f0f0;
}

.fin-container {
    margin: 50px 5%;
}